<h4>书籍评论</h4>
<p>功能介绍：用户登录后，可以对书籍进行评论。</p>
<p>书籍评论页面</p>
<%= image_tag "comment01.jpg", :height => 400, :width => 700%><br />
<p>输入评论，点击Add Comment</p>
<%= image_tag "comment02.jpg", :height => 400, :width => 700%><br />
<p>成功评论</p>
<%= image_tag "comment03.jpg", :height => 400, :width => 700%><br />