<h4>用户提问</h4>
<p>功能介绍：如果您对网站操作或其他问题有任何疑问，在您登录后可以通过提问的方式反馈给我们，我们会派专业人士给出解答</p>
<p>用户提问，输入提问内容，点击Post Question按钮确定</p>
<%= image_tag 'ask01.jpg', :width => 700%><br /><br />
<p>提问提交后</p>
<%= image_tag 'ask02.jpg', :width => 700%><br /><br />
<p>管理员回答后，点击Questions可以查看问题和回答</p>
<%= image_tag 'ask03.jpg', :width => 700%><br /><br />