<h4>怎样退出登录</h4>
<p>功能介绍：不使用该网站时，您可以退出您的账户。</p>
<p>点击页面上的Logout，退出登录</p>
<%= image_tag "userlogout01.jpg", :width => 700%><br /><br />
<p>成功退出登录后</p>
<%= image_tag "userlogout02.jpg", :width => 700%><br /><br />