<h4>怎样注册</h4>
<p>功能介绍：没有注册的用户，可以注册自己的账户。</p>
<p>(1)进入注册页面</p>
<%= image_tag "userregister01.jpg", :width => 700%><br /><br />
<p>(2)输入用户名、密码和密码确认</p>
<%= image_tag "userregister02.jpg", :width => 700%><br /><br />
<p>(3)点击register，注册成功</p>
<%= image_tag "userregister03.jpg", :width => 700%><br /><br />