<h4>怎样登录</h4>
<p>功能介绍：已经注册的用户，可以登录自己的账户。</p>
<p>(1)进入登陆页面</p>
<%= image_tag "userlogin01.jpg", :height => 200, :width => 800%>
<p>(2)输入用户名、密码</p>
<%= image_tag "userlogin02.jpg", :height => 200, :width => 800%>
<p>(3)点击login，如果输入密码和用户名输入正确，登录成功，否则请重新输入</p>
<%= image_tag "userlogin03.jpg", :height => 400, :width => 800%>