<h4>怎样搜索</h4>
<p>功能介绍：选择自己要搜索的范围，输入自己要搜索的内容，然后进行搜索。</p>
<p>(1)根据作者进行搜索，选择author，然后输入您要搜索的书的作者，最后点击Search搜索</p>
<%= image_tag "searchauthor01.jpg", :width => 700%><br /><br />
<p>搜索结果</p>
<%= image_tag "searchauthor02.jpg", :width => 700%><br /><br />

<p>(2)根据书名进行搜索，选择title，然后输入您要搜索的书的名字，最后点击Search搜索</p>
<%= image_tag "searchtitle01.jpg", :width => 700%><br /><br />
<p>搜索结果</p>
<%= image_tag "searchtitle02.jpg", :width => 700%><br /><br />