<h4>怎样进行语言选择</h4>
<p>功能介绍：您可以根据自己的语言习惯，选择网站支持的语言种类。</p>
<p>点选页面右上角，可以选择不同的语言种类</p>
<%= image_tag "language01.jpg", :width => 700%><br /><br />
<p>选择“中文”后</p>
<%= image_tag "language02.jpg", :width => 700%><br /><br />