<h4>怎样发送确认信</h4>
<p>功能介绍：当用户确定订单时，会收到系统自动发出的一封确认信到用户提供的邮箱。</p>
<p>在订单确认页面输入信息后点击Place order</p>
<%= image_tag "checkout02.jpg", :height => 400, :width => 700 %>
<p>邮箱中收到系统发出的确认信</p>
<%= image_tag "sendemail.jpg", :height => 400, :width => 700 %>