<h4>在线试读</h4>
<p>功能介绍：用户可以对书籍进行试读。<br />如果浏览器支持网页查看pdf文件，则可以在浏览器浏览书籍。<br />否则，需要先下载文件，然后本地阅读。</p>
<p>点击试读</p>
<%= image_tag "read1.jpg", :width => 700%><br /><br />
<p>浏览器阅读</p>
<%= image_tag "read2.jpg", :width => 700%><br /><br />
<p>如果不能浏览器阅读，可以下载到电脑阅读</p><br /><br />