<%= stylesheet_link_tag "news_use" %>
<div>
<h3>新书推荐</h3>
<ul id="new_books">
	<% @products1.each do |product|%>
	<li>
	   <%= link_to (image_tag(product.image_url, :alt => product.title)), 
	               {:controller => 'products', :action => 'show', :id => product.id},
	               :title => product.title %><br />
    </li>
    <% end %>
</ul>
</div>
<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br />
<div>
<h3>畅销书推荐</h3>
<ul id="well_sold_books">
	<% @products2.each do |product|%>
	<li>
		<%= link_to (image_tag(product.image_url, :alt => product.title)), 
		    {:controller => 'products', :action => 'show', :id => product.id},
		    :title => product.title %>
	</li>
    <% end %>
</ul>
</div>
